<div class="body">
    <img src="{{logoPath}}" alt="" id="logo-img">
    <app-header></app-header>

    <div class="container">
        <img src="{{restaurantPath}}" alt="Foto do restaurant" id="restaurant-img">
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, doloremque sint qui a mollitia voluptas
            nesciunt, voluptatibus in velit nostrum molestias dignissimos. Amet praesentium, quos aliquid magnam sit
            accusantium reprehenderit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, doloremque sint qui a mollitia voluptas
            nesciunt, voluptatibus in velit nostrum molestias dignissimos. Amet praesentium, quos aliquid magnam sit
            accusantium reprehenderit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, doloremque sint qui a mollitia voluptas
            nesciunt, voluptatibus in velit nostrum molestias dignissimos. Amet praesentium, quos aliquid magnam sit
            accusantium reprehenderit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, doloremque sint qui a mollitia voluptas
            nesciunt, voluptatibus in velit nostrum molestias dignissimos. Amet praesentium, quos aliquid magnam sit
            accusantium reprehenderit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, doloremque sint qui a mollitia voluptas
            nesciunt, voluptatibus in velit nostrum molestias dignissimos. Amet praesentium, quos aliquid magnam sit
            accusantium reprehenderit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, doloremque sint qui a mollitia voluptas
            nesciunt, voluptatibus in velit nostrum molestias dignissimos. Amet praesentium, quos aliquid magnam sit
            accusantium reprehenderit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, doloremque sint qui a mollitia voluptas
            nesciunt, voluptatibus in velit nostrum molestias dignissimos. Amet praesentium, quos aliquid magnam sit
            accusantium reprehenderit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, doloremque sint qui a mollitia voluptas
            nesciunt, voluptatibus in velit nostrum molestias dignissimos. Amet praesentium, quos aliquid magnam sit
            accusantium reprehenderit?
        </p>
    </div>
</div>