#logo-img {
    position: absolute;

    z-index: 1;

    width: 12rem;
    height: 12rem;

    left: 47%;
    bottom: 92%;
}

.body{
    width: 100%;
    height: 100vh;

    position: relative;
}

.active {
    color: var(--shiny-green)
}

.container{ 
    background-color: var(--translucid-dark-blue);

    width: 129rem;

    margin: 8rem auto;


    padding: 5rem;

    border-radius: 5px;

    gap: 10rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#restaurant-img {
    width: 30rem
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;

    color: var(--white)
}