<div class="body">
    <img src="{{logoPath}}" alt="" id="logo-img">
    <app-header></app-header>

    <div class="content">
       <section>
            <h1>{{ 'menu.main' | translate }}</h1>
            <div class="card-container">
                <app-card *ngFor="let dish of mainDishes" [dish]="dish"></app-card>
            </div>
       </section>
       <section>
            <h1>{{ 'menu.dessert' | translate }}</h1>
            <div class="card-container">
                <app-card *ngFor="let dessert of desserts" [dish]="dessert"></app-card>
            </div>
       </section>
       <section>
            <h1>{{ 'menu.drinks' | translate }}</h1>
            <div  class="render-card" class="card-container">
                <app-card  *ngFor="let drink of drinks" [dish]="drink"></app-card>
            </div>
       </section>
    </div>
</div>
