<div class="container">
    <select (change)='changeLang($event)'>
        <option value="pt-br">Portuguese</option>
        <option value="en">English</option>
        <option value="fr">French</option>
    </select>
    <header>
        <img [src]="logoPath" alt="">
        <h1> Food Angular </h1>
    </header>
    <form>
        <h2>{{'form.title' | translate }}</h2>
        <input-form title="{{'input.titleName' | translate}}" placeholder="{{'input.placeholderName' | translate}}" title='Nome'></input-form>
        <input-form title="Email" placeholder="{{'input.placeholderEmail' | translate}}"></input-form>
        <app-button title="{{'button.title' | translate}}"></app-button>

        <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page"> {{'anchor.title' | translate}} </a>
    </form>
</div>
 