<header>
        <nav>
            <ul>
                <a routerLink="/menu">{{'nav.menu' | translate }}</a>
                <a routerLink="/about">{{'nav.about' | translate }}</a>
                <a routerLink="/reservation">{{'nav.reservation' | translate }}</a>
            </ul>

            <select (change)='changeLang($event)' class="select-input">
                <option value="pt-br">Portuguese</option>
                <option value="en">English</option>
                <option value="fr">French</option>
            </select>
        </nav>
    </header>
