<div class="body">
    <img src={{logoPath}} alt="">
    <header>
        <nav>
            <ul>
                <a class="active">{{'nav.menu' | translate }}</a>
                <a>{{'nav.about' | translate }}</a>
                <a>{{'nav.reservation' | translate }}</a>
            </ul>
        </nav>
        <select (change)='changeLang($event)'>
            <option value="pt-br">Portuguese</option>
            <option value="en">English</option>
            <option value="fr">French</option>
        </select>
    </header>
</div>