button {
    width: 100%;

    padding: 1.2rem 0;

    background-color: var(--shiny-green);

    border: none;
    border-radius: 5px;

    color: var(--white);

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
}