.card {
    width: 25rem;
    min-height: 36.5rem;

    padding: 3rem 2rem;

    margin-top: 2.5rem;
    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--translucid-dark-blue);

    border-radius: 5px;

    >img {
        width: 10rem;
        height: 10rem;

        margin-bottom: 1.6rem
    }

    >h1 {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 2.4rem;

        color: var(--white);

        margin-bottom: 1.8rem;
        text-align: center;
    }

    >p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 1.4rem;

        color: var(--grey);

        margin-bottom: 1rem;

        text-align: center;
    }

    >span {
        font-family: 'Roboto';

        font-weight: 400;
        font-size: 3.2rem;
        line-height: 160%;

        color: var(--shiny-blue);

        text-align: center;
    }
}