<div class="body">
    <img src="{{logoPath}}" alt="" id="logo-img">
    <app-header></app-header>

    <div class="container">
        <form>
            <h2>{{'reservation.title' | translate }}</h2>
            <input-form title="{{'input.titleName' | translate}}" placeholder="{{'input.placeholderName' | translate}}" [control]="$any(reservationForm.controls['name'])"></input-form>
            <input-form title="Email" placeholder="{{'input.placeholderEmail' | translate}}" [control]="$any(reservationForm.controls['email'])"></input-form>
            <input-form title="{{'reservation.date' | translate }}" type="date" [control]="$any(reservationForm.controls['date'])"></input-form>
            <input-form title="{{'reservation.table-for' | translate }}" type="number" [control]="$any(reservationForm.controls['tableFor'])"></input-form>
            <app-button title="{{'reservation.button' | translate }}" (click)="handleReservation()"></app-button>
        </form>
        <img src="{{restaurantPath}}" alt="Foto do restaurant" id="restaurant-img">
    </div>
</div>