<div class="body">
    <img src="{{logoPath}}" alt="" id="logo-img">
    <header>
        <nav>
            <ul>
                <a>{{'nav.menu' | translate }}</a>
                <a>{{'nav.about' | translate }}</a>
                <a>{{'nav.reservation' | translate }}</a>
            </ul>

            <select (change)='changeLang($event)'>
                <option value="pt-br">Portuguese</option>
                <option value="en">English</option>
                <option value="fr">French</option>
            </select>
        </nav>
    </header>

    <div class="container">
        <form>
            <h2>{{'reservation.title' | translate }}</h2>
            <input-form title="{{'input.titleName' | translate}}" placeholder="{{'input.placeholderName' | translate}}" title='Nome'></input-form>
            <input-form title="Email" placeholder="{{'input.placeholderEmail' | translate}}"></input-form>
            <input-form title="{{'reservation.date' | translate }}" type="date"></input-form>
            <input-form title="{{'reservation.table-for' | translate }}" type="number"></input-form>
            <app-button ></app-button>
        </form>
        <img src="{{restaurantPath}}" alt="Foto do restaurant" id="restaurant-img">
    </div>
</div>