<div class="body">
    <img src="{{logoPath}}" alt="" id="logo-img">
    <header>
        <nav>
            <ul>
                <a class="active">{{'nav.menu' | translate }}</a>
                <a>{{'nav.about' | translate }}</a>
                <a>{{'nav.reservation' | translate }}</a>
            </ul>

            <select (change)='changeLang($event)'>
                <option value="pt-br">Portuguese</option>
                <option value="en">English</option>
                <option value="fr">French</option>
            </select>
        </nav>
    </header>

    <div class="container">
        <img src="{{restaurantPath}}" alt="Foto do restaurant" id="restaurant-img">
    </div>
</div>