#logo-img {
    position: absolute;

    z-index: 1;

    width: 12rem;
    height: 12rem;

    left: 47%;
    bottom: 92%;
}

.body{
    width: 100%;
    min-height: 100vh;

    
    position: relative;
}

.container{ 
    background-color: var(--translucid-dark-blue);

    width: 129rem;

    margin: 8rem auto;


    padding: 5rem;

    border-radius: 5px;

    gap: 10rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#restaurant-img {
    width: 50rem
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;

    color: var(--white)
}

form {
    width: 40%;

    padding: 5rem;
    border-radius: 5px;

    background-color: var(--black);

    >h2 {
        margin-bottom: 3rem;

        text-align: center;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 160%;
    
        color: var(--white)
    }
}